*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    position: relative;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B270A2;
}

body h1 {
    font-size: 2em;
    font-weight: bold;
    color: #FCE2DB;
    text-align: center;
    margin-bottom: 2em;
}

footer p {
    font-size: 1em;
    font-weight: bold;
    color: #FCE2DB;
    text-align: center;
    margin-top: 2em;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 800px;
    width: 600px;
    box-shadow: #FCE2DB 0 0 5px 5px;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    flex: 1;
    min-height: 100%;
    min-width: 100%;
    padding: 4em 2em 2em 2em;
    background-color: #7A4495;
}

#result,
#topButtons,
#firstRow,
#secondRow,
#thirdRow,
#fourthRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    text-align: center;
    line-height: 2em;
    flex: 1;
}

#result {
    flex: 2;
    background-color: #FCE2DB;
    color: black;
    font-size: 2em;
    font-weight: bold;
    width: 100%;
    text-align: right;
    padding: 1em 2em;
}


button {
    flex: 1 1;
    font-size: 1.5em;
    font-weight: bold;
    color: #FCE2DB;
    background-color: #7A4495;
    border: 1px solid #FCE2DB;
    border-radius: 0;
    outline: none;
    cursor: pointer;
}

#topButtons button {
    flex: 1;
    background-color: #FF8FB1;
}

button:hover {
    background-color: #B270A2;
    border-color: #FCE2DB;
}

button:active {
    background-color: #7A4495;
    border-color: #FCE2DB;
}